<html>
<head>
	<title> 400 Bad Request </title>
	<link  rel="icon"href="/static/logo.png" type="image/png">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</script>

<body style="background-image:url('static/index.jpeg'); overflow-x:hidden;" onselectstart="return false;">

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<nav class="navbar navbar-light fixed-top" style="opacity:-2px; background-color:blue;" id="navigation">
					<div class="navbar-brand" style="font-style:italic;">
						<a href="#" id="0" style="color:orange;">Exploit author</a>
					</div>

					<div id="dropdownmobile"></div>
					<ul class="nav nav-pills" id="headerbar">
						<li class="nav-item active"><a type="button" href="products.html" class="btn btn-link" href="index.html" id="b" style="color:white; padding:20px; background-color:orange;"> Home</a></li>
						<li class="nav-item"><a type="button" href="http://192.168.56.102:7870/products.html" class="btn btn-link" href="#" id="b" style="color:white; padding:20px;"> Product</a></li>
						<li class="nav-item"><a type="button" href="http://192.168.56.102:7870/about.html" class="btn btn-link" href="#" id="d" style="color:white; padding:20px;">  About us</a></li>
						<li class="nav-item"><a type="button" href="http://192.168.56.102:7870/login.html" class="btn btn-link" href="#" id="e" style="color:white; padding:20px;">Login </a></li>
						<li class="nav-item"><a type="button" href="http://192.168.56.102:7870/register.html" class="btn btn-link" href="#" id="e" style="color:white; padding:20px;">Signup </a></li>
						<li class="nav-item"><a type="button" href="http://192.168.56.102:7870/contact.html" class="btn btn-link" href="#" id="e" style="color:white; padding:20px;"> Contact us</a></li> 
					</ul>
					<button type="button" class="navbar=toggle btn btn-success" data-toggle="collapse" data-target="#dropdownmobile" style="display:none;"  id="togglebutton"><i class="fa fa-bars"></i></button>

				</nav>
			</div>
		</div>
		<br><br><br><br></br>
		<div class="row">
			<div class="col-lg-12">
				<center>
					<h1 style="font-size:150px; color:#C1DCDE;"> 400 Bad Request</h1>
					<h1> Server could'nt understand what are you doing</h1>
					<br></br>
				</center>
			</div>
		</div>
	</div>
	<div class="jumbotron"style="width:100%; position:relative; top:0px; background-color:#1f618d">
		<div class="row">
			<div class="col-lg-3">
				<center style="text-align:justify;">
					<h1 style="color:white;"> Userful Links</h1>
					<br>
					<a type="button"  href="#" class="btn btn-link" style="color:white;">Home</a>
					<br>
					<a type="button"  href="#" class="btn btn-link" style="color:white;">About us</a>
					<br>
					<a type="button"  href="#" class="btn btn-link" style="color:white;">Services</a>
					<br>
					<a type="button"  href="#" class="btn btn-link" style="color:white;">Terms of Services</a>
					<br>
					<a type="button"  href="#" class="btn btn-link" style="color:white;">Privacy Policy</a>
				</center>
			</div>
			<div class="col-lg-3">
				<center style="text-align:justify;">
					<h1 style="color:white;"> Our Services</h1>
					<br>
					<a type="button"  href="#" class="btn btn-link" style="color:white;">Security</a>
					<br>
					<a type="button"  href="#" class="btn btn-link" style="color:white;">Development</a>
					<br>
					<a type="button"  href="#" class="btn btn-link" style="color:white;">Cloud hosting</a>
					<br>
					<a type="button"  href="#" class="btn btn-link" style="color:white;">Customer Support</a>
				</center>
			</div>
			<div class="col-lg-3">
				<center style="text-align:justify;">
					<h1 style="color:white;"> Userful Links</h1>
					<br>
					<a type="button"  href="#" class="btn btn-link" style="color:white;">Home</a>
					<br>
					<a type="button"  href="#" class="btn btn-link" style="color:white;">About us</a>
					<br>
					<a type="button"  href="#" class="btn btn-link" style="color:white;">Services</a>
					<br>
					<a type="button"  href="#" class="btn btn-link" style="color:white;">Terms of Services</a>
					<br>
					<a type="button"  href="#" class="btn btn-link" style="color:white;">Privacy Policy</a>
				</center>
			</div>
			<div class="col-lg-3">
				<center style="text-align:justify;">
					<h1 style="color:white;"> Contact Us</h1>
						<br></br>
						<i class="fa fa-envelope" style="color:white;font-size:25px;"></i>
						<a type="button" href="#" class="btn btn-link" style="color:white;">Support@example.com</a>
						<br></br>
						<i style="color:white; position:relative; font-size:25px;" class="fa fa-phone"></i>
						<p style="color:white; display:inline;">+066634712412</p>
						<br></br>
						<i  class="fa fa-address-card" style="font-size:25px; color:white; position:relative;"></i>
						&nbsp;&nbsp;&nbsp;<p style="color:white; display:inline;">M512 Washington Plot No. 96</p>
				</center>
			</div>
		</div>
		<div clsas="row">
			<div class="col-lg-12">
				<footer>
					<hr style="width:100%;">
					<br>
					<center>
						<p style="color:white"> All Copyright Reserved(2019-2020)</p>
					</center>
				</footer>
			</div>
		</div>
</body>
</html>
