<html>
<head>
  <title> Welcome </title>
  <link  rel="icon"href="/static/logo.png" type="image/png">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 <script src="https://kit.fontawesome.com/a076d05399.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</script>
<script>
  
  $(document).ready(function()
  {
    function listener()
    {

      var newdrop=document.getElementById("dropdownmobile");
      newdrop.setAttribute("class","collapse navbar-collapse");

      var dropinside=document.createElement("ul");
      dropinside.setAttribute("class","nav navbar-nav");
      var dropitems1=document.createElement("li");
      var firstdrop1=document.createElement("a");
      firstdrop1.setAttribute("href","index.html");
      var firsttextnode1=document.createTextNode("Home");
      firstdrop1.appendChild(firsttextnode1);
      dropitems1.appendChild(firstdrop1);
      dropinside.appendChild(dropitems1);

      var dropitems2=document.createElement("li");
      var firstdrop2=document.createElement("a");
      firstdrop2.setAttribute("href","prodcuts.html");
      var firsttextnode2=document.createTextNode("Product");
      firstdrop2.appendChild(firsttextnode2);
      dropitems2.appendChild(firstdrop2);
      dropinside.appendChild(dropitems2);

      var dropitems3=document.createElement("li");
      var firstdrop3=document.createElement("a");
      firstdrop3.setAttribute("href","about.html");
      var firsttextnode3=document.createTextNode("Aboutus");
      firstdrop3.appendChild(firsttextnode3);
      dropitems3.appendChild(firstdrop3);
      dropinside.appendChild(dropitems3);


      var dropitems4=document.createElement("li");
      var firstdrop4=document.createElement("a");
      firstdrop4.setAttribute("href","login.html");
      var firsttextnode4=document.createTextNode("Login");
      firstdrop4.appendChild(firsttextnode4);
      dropitems4.appendChild(firstdrop4);
      dropinside.appendChild(dropitems4);

      var dropitems5=document.createElement("li");
      var firstdrop5=document.createElement("a");
      firstdrop5.setAttribute("href","register.html");
      var firsttextnode5=document.createTextNode("Signup");
      firstdrop5.appendChild(firsttextnode5);
      dropitems5.appendChild(firstdrop5);
      dropinside.appendChild(dropitems5);


      var dropitems6=document.createElement("li");
      var firstdrop6=document.createElement("a");
      firstdrop6.setAttribute("href","contact.html");
      
      var firsttextnode6=document.createTextNode("Contact us");
      firstdrop6.appendChild(firsttextnode6);
      dropitems6.appendChild(firstdrop6);
      dropinside.appendChild(dropitems6);
      
      newdrop.appendChild(dropinside);

    }
    $(window).on("resize load",function()
    {

      $(window).scrollTop(0);
    if(navigator.userAgent.match("Android"))
    {
      document.querySelector(".row .col-lg-4").childNodes[1].childNodes[1].style.height="1000px";
      document.querySelector(".row .col-lg-4").childNodes[1].childNodes[1].style.width="1000px";

      document.getElementById("carouseltest").style.width="1450px";
      document.getElementsByClassName("carousel-inner").style.width-"1000px";
      $("#togglebutton").show();
      $("#firstbtn").removeAttr("class");
      $("#firstbtn").attr("class","btn btn-sm");
      $("#firstbtn").css({"left":"1100px","top":"600px","width":"200px"});

      $("#headerbar").hide();
      listener();
                    $('body').css("background-size","200px 100px");

      $(".justify-content-center").css({"left":"250px","position":"relative"});
      $("<hr>").insertAfter($("#respjumbo .row .col-lg-4"));



    }
    else
    {
      if(window.innerWidth <= 700)
      {
          $("#headerbar").hide();
          $("#togglebutton").show();

          $("#firstbtn").css({"top":"400px","left":"100px"});
          document.getElementById("firstbtn").removeAttribute("class");
          document.getElementById("firstbtn").setAttribute("class","btn btn-sm");
          document.getElementById("firstbtn").style.width="200px";
        $('body').css({"background-size":"700px 600px"});
        listener();
        $("<hr>").insertAfter("#respjumbo .class .col-lg-4");
        $("#carouseltest").css({'top':'-200px','position':'relative','width':'500px'});
        $("#demo").css({'width':'400px','left':'-300px;','position':'relative'});
        $(".carousel-inner").css({"width":'400px'});
        $("#golimoli").css({'left':'250px','position':'relative'});

      }
      else if(window.innerWidth <= 1000)
      {
                  $("#firstbtn").css({"left":"-100px","top":"50px"});

        $('body').css('background-size','900px 900px');
        $("#togglebutton").hide();
        $("#headerbar").show();
        $("dskjfkjsdklfjsdjfldsjklfjklsdjflkj").insertAfter("#respjumbo .class .col-lg-4");

        $("#carouseltest").css({'top':'-200px','position':'relative','width':'900px'});
        $("#demo").css({'width':'600px','left':'-300px;','position':'relative'});
        $(".carousel-inner").css({"width":'600px'});
                $("#golimoli").css({'left':'50px','position':'relative'});


      }
      else
      {
        $("#headerbar").show();
        $("#togglebutton").hide();
       $('body').css("background-size",'1500px 800px');
        $("#carouseltest").css({'top':'-20px','position':'relative','width':'100%'});
        $("#demo").css({'width':'1350px','left':'-400px;','position':'relative'});
        $(".carousel-inner").css({"width":'1200px','position':'relative','left':'-50px'});




      }
    }
  });
    
  
    window.addEventListener("resize",listener);
    $(function()
    {
      AOS.init();
    });
    $("#mysearch").on("keyup",function()
    {
      var myarr=['laptop','Laptop','Laptops','laptops','Printer','printer','Printers','printers','Mobile Phone']
      var datasend=$("#mysearch").val();
      var tester=datasend.toString();
      var t1=5;

      if(tester!='')
      {

        $.ajax({
          url:"http://192.168.56.101:7870/product.json?q="+datasend,
          method:"get",
          cache:false,
          success:function(response,statusText)
          {
            
            myobj=JSON.parse(response);
            
            if(datasend == "samsung"||datasend=="Samsung")
            {

              t1=Object.keys(myobj.products.MobilePhone.Samsung);
            
            }
            
            else if(datasend == "apple"||datasend=="Apple")
            {
              t1=Object.keys(myobj.products.MobilePhone.apple);
            }
            else if(datasend == "vivo"||datasend=="Vivo")
            {
              t1=Object.keys(myobj.products.MobilePhone.vivo);
            }
            else
            {
              
            
                if(datasend in myobj.products.laptop)
                {
                  alert(datasend);
                }
                else if(datasend in myobj.products.MobilePhone.Samsung)
                {
                  alert(datasend);
                }
                else if(datasend in myobj.products.MobilePhone.apple)
                {
                  alert(datasend);
                }
                else if(datasend in myobj.products.MobilePhone.vivo)
                {
                  alert(datasend);
                }
                else if(datasend in  myobj.products.Printers)
                {
                  alert(datasend);
                }
                else if(datasend in myobj.products.laptop)
                {
                  alert(datasend);
                }
                else
                {
                }
              
            }         
            var responselist,n;
            var  listchecker=document.getElementById("responseul").style.float="center";
            for(n=0;n<=t1.length-1;n++)
            {
              
                          
              var listappend=document.createElement("li");
              listappend.setAttribute("style","list-style:none;");
              listappend.setAttribute("class","nav-item");

              var firstitem=document.createElement("a");
              firstitem.setAttribute("class","nav-link");
              firstitem.setAttribute("href","#")
              var firsttext=document.createTextNode(t1[n]);
              firstitem.appendChild(firsttext);
              listappend.appendChild(firstitem);
              $("#responseul").append(listappend);

            }
              

            $("#responseul").css('display','block');

          

          },
          error:function(error)
          {
            alert(error);
          }

        });
      }
      else
      {
        $(document).ajaxStop(function()
        {
          $("#responseul").hide();
        });
      }
      });



    $("#mysearch").on("click",function()
    {

      $("#mylist").css('display','inline-block');
      $("#responseul").hide();
        
    });
    $("#mysearch").on('keyup',function()
    {
      $("#responseul").css("display","none")
      if($("#mysearch").val()!='')
      {

        $("#mylist").hide();
        $("#responseul").css("display","block");
      }
      else
      {

        var moli=document.getElementById("responseul");
        while(moli.firstChild)
        {
          moli.removeChild(moli.firstChild);
        }
        $("#responseul").css("display","block");

        $("#mylist").show();
      }
      
    });


    $("#mylist").mouseleave(function()
    {
      $("#mylist").hide();
    });
    if(!$("mysearch").text=='')
    {
      $("#mylist").hide();
    }
  
    $("#myul").on("click","button",function()
    {
      var userrequest=$("button").val();
      alert(userequest);
      if($("#mysearch").val(userrequest))
      {
        $("#myul").hide();
        
      }
      else if($("#mysearch").click())
      {
        $("#myul").show();
      }
      else if($("#mysearch").val()!='')
      {
        $("#myul").show();
      }
      else
      {
        $("#myul").show();
      }
    });

    $("#responseul").on('click',function()
    {

      $("#mysearch").html($("#responseul").children());
      $("#responseul").hide();
    });
  
    


    $(document).on('scroll',function()
    {
      if($(document).scrollTop() > 200)
      {
        $("#navigation").css("background-color","blue");
        $(".nav nav-pills").css("color","blue");
      }
      else
      {
        $("#navigation").css("background-color","transparent");
        $(".nav nav-pills").css("color","white"); 

      }
    });

  });
</script>

<style>
    
  #firstlist
  {
    position:relative;
    float:right;
    display:inline-block;


  }
  #secondlist
  {
    position:relative;
    float:right;
    display:inline-block;
  }
  #thirdlist
  {

    position:relative;
    float:right;
    display:inline-block;
] }
  #fourthlist
  {

    position:relative;
    float:right;
    display:inline-block;
  }
  #fifthlist
  {

    position:relative;
    display:inline-block;
    float:right;
  }
  #os
  {
    color:green;
    display:inline-block;
    float:left;
    font-size:25px;
    position:relative;
  }
  #disableitem
  {
    color:red;
    display:inline-block;
    float:left;
    font-size:25px;
    position:relative;
  }
  #third
  {
    position:relative;
    float:right;
  }
  
</style>


<body style="background-image:url('/static/product2.jpg');overflow-x:hidden; background-repeat:no-repeat;" onselectstart="return false;">
<button type="button" class="btn btn-default btn-lg" id="firstbtn" style="background-color:#69DBB5; width:350px; color:white; left:950px; top:500px; position:relative;">Buy Now</button>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <nav class="navbar navbar-light fixed-top" style="opacity:-2px" id="navigation">
          <div class="navbar-brand" style="font-style:italic;">
            <a href="#" clas="btn" id="0" style="border-radius:300px;font-style:italic; color:orange;border-radius:10px;"><b>OnlineShopping</b></a>
          </div>

          <div id="dropdownmobile"></div>
          <ul class="nav nav-pills" id="headerbar">
            <li class="nav-item"><a type="button" href="http://192.168.56.101:7870/" class="btn btn-link" href="#" id="b" style="color:white; padding:20px;"> Home</a></li>
            <li class="nav-item active"><a type="button" href="#" class="btn btn-link" href="index.html" id="b" style="color:white; padding:20px; background-color:orange;"> Products</a></li>

            <li class="nav-item"><a type="button" href="http://192.168.56.101:7870/about.html" class="btn btn-link" href="#" id="d" style="color:white; padding:20px;">  About us</a></li>
            <li class="nav-item"><a type="button" href="http://192.168.56.101:7870/login.html" class="btn btn-link" href="#" id="e" style="color:white; padding:20px;">Login </a></li>
            <li class="nav-item"><a type="button" href="http://192.168.56.101:7870/register.html" class="btn btn-link" href="#" id="e" style="color:white; padding:20px;">Signup </a></li>
            <li class="nav-item"><a type="button" href="http://192.168.56.101:7870/contact.html" class="btn btn-link" href="#" id="e" style="color:white; padding:20px;"> Contact us</a></li> 
          </ul>
          <button type="button" class="navbar=toggle btn btn-success" data-toggle="collapse" data-target="#dropdownmobile" style="display:none;"  id="togglebutton"><i class="fa fa-bars"></i></button>

        </nav>
      </div>
    </div>
    
  <br></br>
</div>

<div class="jumbotron" id="carouseltest" style="margin-top:600px; background-color:black; width:1350px;">
	<div class="row">
		<div class="col-lg-12">
			<center>
				<h1 style="color:white;"> Our Products</h1>
				<hr style="width:5%; background-color:blue;">
				<div id="demo" class="carousel slide" data-ride="carousel">
					<ul class="carousel-indicators">
    					<li data-target="#demo" data-slide-to="0" class="active"></li>
    					<li data-target="#demo" data-slide-to="1"></li>
    					<li data-target="#demo" data-slide-to="2"></li>
    					<li data-target="#demo" data-slide-to="3"></li>
  					</ul>

 	 				<div class="carousel-inner" style="background-color:black; height:500px; border-radius:5px; width:1300px;">
    					<div class="carousel-item active">
      						<img src="static/products/p1.jpeg" class="img-fluid" style="height:600px; width:1300px;">
    					</div>
    					<div class="carousel-item">
      						<img src="static/products/p2.jpeg" class="img-fluid" style="height:600px; width:1300px;">
    					</div>
    					<div class="carousel-item">
      						<img src="static/products/p3.jpg" class="img-fluid" style="height:450px; width:1300px;">
    					</div>
    					<div class="carousel-item">
    						<img src="static/products/p5.png" class="img-fluid" style="height:450px; width:1300px;">
    					</div>
  					</div>

 					 <a class="carousel-control-prev" href="#demo" data-slide="prev">
 					 	<i class="fa fa-chevron-left" style="font-size:75px;"></i>
 					 </a>
  					<a class="carousel-control-next" href="#demo" data-slide="next">
  						 <i class="fa fa-chevron-right" style="font-size:75px;"></i>
  					</a>
				</div>
			</center>
		</div>
	</div>
</div>
<div class="jumbotron" id="respjumbo" style="background-color:white;">
  <center>
    <h1>Laptops</h1>
    <hr style="width:40px;background-color:blue;">
  </center>
<div class="row" data-aos="zoom-in" data-aos-duration="1500" id="imagerow">
  <div class="col-lg-4">
    <center>
      <img src="/static/products/l1.webp" alt="laptop1" style="height:350px; width:350px;">
      <br>
      <h1>Hp classic cruest</h1>
      <button type="button" class="btn btn-primary" onclick="window.location='http://192.168.56.101:7870/login.html'"> Add To Cart</button>
    </center>
  </div>
  <div class="col-lg-4">
    <center>
      <img src="/static/products/l2.jfif" alt="laptop1" style="height:350px; width:350px;">
      <br>
      <h1>Hp macaddition a78</h1>
      <button type="button" class="btn btn-primary" onclick="window.location='http://192.168.56.101:7870/login.html'"> Add To Cart</button>
    </center>
  </div>
  <div class="col-lg-4">
    <center>
      <img src="/static/products/l3.webp" alt="laptop1" style="height:350px; width:350px;">
      <br>
      <h1>Hp night classic</h1>
      <button type="button" class="btn btn-primary" onclick="window.location='http://192.168.56.101:7870/login.html'"> Add To Cart</button>
    </center>
  </div>
</div>
<hr style="width:100%; border:1px solid;">
<div class="row" data-aos="zoom-in" data-aos-duration="1500">
  <div class="col-lg-4">
    <center>
      <img src="/static/products/l4.jpg" alt="laptop1" style="height:350px; width:350px;">
      <br>
      <h1>Hp typhoon</h1>
      <button type="button" class="btn btn-primary" onclick="window.location='http://192.168.56.101:7870/login.html'"> Add To Cart</button>
    </center>
  </div>
  <div class="col-lg-4">
    <center>
      <img src="/static/products/l5.webp" alt="laptop1" style="height:350px; width:350px;">
      <br>
      <h1>Hp Hotbook c86
      <button type="button" class="btn btn-primary" onclick="window.location='http://192.168.56.101:7870/login.html'"> Add To Cart</button>
    </center>
  </div>
  <div class="col-lg-4">
    <center>
      <img src="/static/products/l6.jpg" alt="laptop1" style="height:350px; width:350px;">
      <br></br>
      <h1>Hp censor</h1>
      <button type="button" class="btn btn-primary" onclick="window.location='http://192.168.56.101:7870/login.html'"> Add To Cart</button>
    </center>
  </div>
</div>
<hr style="width:100%;border:1px solid;">
<div class="row" data-aos="zoom-in" data-aos-duration="1500">
  <div class="col-lg-4">
    <center>
      <img src="/static/products/l7.jpg" alt="laptop1" style="height:350px; width:350px;">
      <br>
      <h1>Hp pavelion2</h1>
      <button type="button" class="btn btn-primary" onclick="window.location='http://192.168.56.101:7870/login.html'"> Add To Cart</button>
    </center>
  </div>
  <div class="col-lg-4">
    <center>
      <img src="/static/products/l8.jfif" alt="laptop1" style="height:350px; width:350px;">
      <br>
      <h1>Hp golibook</h1>
      <button type="button" class="btn btn-primary" onclick="window.location='http://192.168.56.101:7870/login.html'"> Add To Cart</button>
    </center>
  </div>
  <div class="col-lg-4">
    <center>
      <img src="/static/products/l9.jpg" alt="laptop1" style="height:350px; width:350px;">
      <br></br>
      <h1>Hp Macbook</h1>
      <button type="button" class="btn btn-primary" onclick="window.location='http://192.168.56.101:7870/login.html'"> Add To Cart</button>
    </center>
  </div>
</div>
<hr style="width:100%; border:1px solid;">
<div class="row" data-aos="zoom-in" data-aos-duration="1500">
  <div class="col-lg-4">
    <center>
      <img src="/static/products/l10.webp" alt="laptop1" style="height:350px; width:350px;">
      <br>
      <h1>Hp Pavelion</h1>
      <button type="button" class="btn btn-primary" onclick="window.location='http://192.168.56.101:7870/login.html'"> Add To Cart</button>
    </center>
  </div>
  <div class="col-lg-4">
    <center>
      <img src="/static/products/l11.webp" alt="laptop1" style="height:350px; width:350px;">
      <br>
      <h1>Hp=c88</h1>
      <button type="button" class="btn btn-primary" onclick="window.location='http://192.168.56.101:7870/login.html'"> Add To Cart</button>
    </center>
  </div>
  <div class="col-lg-4">
    <center>
      <img src="/static/products/l12.webp" alt="laptop1" style="height:350px; width:350px;">
      <br>
      <h1>Hp-E78</h1>
      <button type="button" class="btn btn-primary" onclick="window.location='http://192.168.56.101:7870/login.html'"> Add To Cart</button>
    </center>
  </div>
</div>
<br></br>
<div class="row">
  <div class="col-lg-12">
  <center>
    <ol class="nav nav-pills" id="golimoli" style="left:500px; position:relative;">
      <li class="nav-item"><a href="#" class="nav-link active">1</a></li>
      <li class="nav-item"><a href="products2.html" class="nav-link">2</a></li>
      <li class="nav-item"><a href="products3.html" class="nav-link">3</a></li>
      <li class="nav-item"><a href="products4.html" class="nav-link">4</a></li>
    </ol>
  </center>
</div>
</div>
</div>
  <div class="jumbotron" id="endjumbo" style="width:100%; position:relative; top:20px; height:500px; background-color:#1f618d">
    <div class="row">
      <div class="col-lg-3">
        <center style="text-align:justify;">
          <h1 style="color:white;"> Userful Links</h1>
          <br>
          <a type="button" href="http://192.168.56.101:7870/login.html" class="btn btn-link" style="color:white;">Home</a>
          <br>
          <a type="button"  href="http://192.168.56.101:7870/about.html" class="btn btn-link" style="color:white;">About us</a>
          <br>
          <a type="button"  href="http://192.168.56.101:7870/service.html" class="btn btn-link" style="color:white;">Services</a>
          <br>
          <a type="button"  href="http://192.168.56.101:7870/termandservice.html" class="btn btn-link" style="color:white;">Terms of Services</a>
          <br>
          <a type="button"  href="http://192.168.56.101:7870/policy.html" class="btn btn-link" style="color:white;">Privacy Policy</a>
        </center>
      </div>
      <div class="col-lg-3">
        <center style="text-align:justify;">
          <h1 style="color:white;"> Our Services</h1>
          <br>
          <a type="button"  href="http://192.168.56.101:7870/security.html" class="btn btn-link" style="color:white;">Security</a>
          <br>
          <a type="button"  href="http://192.168.56.101:7870/develope.html" class="btn btn-link" style="color:white;">Development</a>
          <br>
          <a type="button"  href="http://192.168.56.101:7870/hosting.html" class="btn btn-link" style="color:white;">Cloud hosting</a>
          <br>
          <a type="button"  href="http://192.168.56.101:7870/contact.html" class="btn btn-link" style="color:white;">Customer Support</a>
        </center>
      </div>
      <div class="col-lg-3">
        <center style="text-align:justify;">
          <h1 style="color:white;"> Connect with US</h1>
          <br>
          <i class="fa fa-twitter" style="color:white;font-size:25px;"></i><a type="button"  href="#" class="btn btn-link" style="color:white;">Twitter</a>
          <br>
          <i class="fa fa-facebook-square" style="color:white;font-size:25px;"></i><a type="button"  href="#" class="btn btn-link" style="color:white;">Facebook</a>
          <br>
          <i class="fa fa-google" style="color:white;font-size:25px;"></i><a type="button"  href="#" class="btn btn-link" style="color:white;">Google</a>
          <br>
          <i class="fa fa-instagram" style="color:white;font-size:25px;"></i><a type="button"  href="#" class="btn btn-link" style="color:white;">Instagram</a>
        </center>
      </div>
      <div class="col-lg-3">
        <center style="text-align:justify;">
          <h1 style="color:white;"> Contact Us</h1>
            <br>
            <i class="fa fa-envelope" style="color:white;font-size:25px;"></i>
            <a type="button" href="#" class="btn btn-link" style="color:white;">Support@example.com</a>
            <br></br>
            <i style="color:white; position:relative; font-size:25px;" class="fa fa-phone"></i>
            <p style="color:white; display:inline;">+066634712412</p>
            <br></br>
            <i  class="fa fa-address-card" style="font-size:25px; color:white; position:relative;"></i>
            &nbsp;&nbsp;&nbsp;<p style="color:white; display:inline;">M512 Washington Plot No. 96</p>
        </center>
      </div>
    </div>
    <div clsas="row">
      <div class="col-lg-12">
        <footer>
          <hr style="width:100%;">
          <br>
          <center>
            <p style="color:white"> All Copyright Reserved(2019-2020)</p>
          </center>
        </footer>
      </div>
    </div>

  </div>

  
    </body>
    </html>